<a href="https://colab.research.google.com/github/Nik8x/Faker_fake_data/blob/master/Faker_fake_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Our aim is to :
  - generate random data
    - using Faker [Faker’s documentation](https://faker.readthedocs.io/en/master/)
    - Faker is a Python package that generates fake data for you.

In [0]:
import pandas as pd

# !pip install Faker
from faker import Faker
fake = Faker()

from tqdm import tqdm

In [7]:
fake.name()
fake.company()

'Reed Group'

In [29]:
fake.seed(1.10000000000002)
fake.name()

'Debbie Macdonald'

In [83]:
%%time
name = []
phone = []
company = []
company_email = []
city = []
zipcode = []

id = list(range(1000,9999))
for i in tqdm(id):
  fake.seed(i)
  name.append(fake.name())
  phone.append(fake.phone_number())
  company.append(fake.company())
  company_email.append(fake.company_email())
  city.append(fake.city())
  zipcode.append(fake.zipcode())

100%|██████████| 8999/8999 [00:07<00:00, 1205.33it/s]

CPU times: user 7.42 s, sys: 35.7 ms, total: 7.45 s
Wall time: 7.47 s

In [84]:
df = pd.DataFrame({"name" : name, "phone_number" : phone, "company" : company, "company_email" : company_email, "city" : city , "zipcode" : zipcode})
df.head()

              name           phone_number  ...           city zipcode
0  Mckenzie Garcia       728-623-3573x537  ...  Robinsonmouth   92075
1         Amy Wolf  +1-186-265-9693x90079  ...    New Charles   73440
2  Jennifer Walker           729-916-8033  ...     Hurleyfurt   91095
3     Ian Bowen MD      (051)787-8145x980  ...      Brownbury   17741
4   William Austin        +1-833-502-9518  ...    Monicaburgh   04401

[5 rows x 6 columns]

In [82]:
df.shape

(8999, 6)